@{
    ViewData["Title"] = "Algebra";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli u Algebru!</h1>
    <p> <a href="\Predbiljezbas\Predbiljezba">Upisi su u tijeku...</a>.</p>

    <!--<img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg" alt="Algebra" width="300" height="400">-->

    <img src="ulaz.gif" />

</div>