USE [master]
GO
/****** Object:  Database [Algebra]    Script Date: 3.3.2021. 12:26:24 ******/
CREATE DATABASE [Algebra]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Algebra', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Algebra.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Algebra_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Algebra_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Algebra].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Algebra]
GO
/****** Object:  Table [dbo].[Predbiljezba]    Script Date: 3.3.2021. 12:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Predbiljezba](
	[IdPredbiljezba] [int] IDENTITY(1,1) NOT NULL,
	[Datum] [date] NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[Adresa] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](50) NOT NULL,
	[IdSeminar] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[Brojpolaznika] [int] NOT NULL,
 CONSTRAINT [PK_Predbiljezba] PRIMARY KEY CLUSTERED 
(
	[IdPredbiljezba] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seminar]    Script Date: 3.3.2021. 12:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seminar](
	[IdSeminar] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[Opis] [nvarchar](50) NOT NULL,
	[Datum] [date] NOT NULL,
	[Popunjen] [bit] NOT NULL,
	[Predavac] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Seminar] PRIMARY KEY CLUSTERED 
(
	[IdSeminar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zaposlenik]    Script Date: 3.3.2021. 12:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zaposlenik](
	[IdZaposlenik] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[KorisnickoIme] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Zaposlenik] PRIMARY KEY CLUSTERED 
(
	[IdZaposlenik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Predbiljezba] ON 

INSERT [dbo].[Predbiljezba] ([IdPredbiljezba], [Datum], [Ime], [Prezime], [Adresa], [Email], [Telefon], [IdSeminar], [Status], [Brojpolaznika]) VALUES (2, CAST(N'2021-03-16' AS Date), N'Josip', N'Milanovic', N'Sisacka', N'test@test.hr', N'123456', 12, 1, 0)
INSERT [dbo].[Predbiljezba] ([IdPredbiljezba], [Datum], [Ime], [Prezime], [Adresa], [Email], [Telefon], [IdSeminar], [Status], [Brojpolaznika]) VALUES (3, CAST(N'2021-03-16' AS Date), N'Pero', N'Peric', N'Valpovacka', N'test2@test2', N'32656', 14, 1, 0)
SET IDENTITY_INSERT [dbo].[Predbiljezba] OFF
GO
SET IDENTITY_INSERT [dbo].[Seminar] ON 

INSERT [dbo].[Seminar] ([IdSeminar], [Naziv], [Opis], [Datum], [Popunjen], [Predavac]) VALUES (12, N'C#', N'Programiranje u C#', CAST(N'2021-03-10' AS Date), 0, N'Predrag Mrvic')
INSERT [dbo].[Seminar] ([IdSeminar], [Naziv], [Opis], [Datum], [Popunjen], [Predavac]) VALUES (13, N'Java', N'Programiranje u Javi', CAST(N'2021-03-17' AS Date), 1, N'Boris Boris')
INSERT [dbo].[Seminar] ([IdSeminar], [Naziv], [Opis], [Datum], [Popunjen], [Predavac]) VALUES (14, N'MVC', N'Izrada Web stranica', CAST(N'2021-03-25' AS Date), 0, N'Denis Besic')
SET IDENTITY_INSERT [dbo].[Seminar] OFF
GO
ALTER TABLE [dbo].[Predbiljezba]  WITH CHECK ADD  CONSTRAINT [FK_Predbiljezba_Seminar] FOREIGN KEY([IdSeminar])
REFERENCES [dbo].[Seminar] ([IdSeminar])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Predbiljezba] CHECK CONSTRAINT [FK_Predbiljezba_Seminar]
GO
USE [master]
GO
